[tool.poetry]
name = "convert_videos"
version = "2.8.3"
description = "This tool allows bulk conversion of videos using ffmpeg"
authors = ["Justin Dray <justin@dray.be>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3 :: Only"
]

[tool.poetry.scripts]
convert-videos = "convert_videos.cli:main"

[tool.poetry.dependencies]
python = "^3.6"
colorama = "^0.4.0"
ffmpy = "^0.2.2"
video_utils = "^2.2.0"
click = "^7.0"
prettytable = "^0.7.2"
stringcase = "^1.2.0"
iso639 = "^0.1.4"

[tool.poetry.dev-dependencies]
coverage = "^5.0"
mock = "^3.0.5"
flake8 = "^3.7"
pytest-cov = "^2.8"
pytest = "^5.3"
black = {version = "^19.10b0", allow-prereleases = true}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
