[tool.poetry]
name = "convert_videos"
version = "1.13.1"
description = "This tool allows bulk conversion of videos using ffmpeg"
authors = ["Justin Dray <justin@dray.be>"]
license = "MIT"

[tool.poetry.scripts]
convert-videos = "convert_videos:main"

[tool.poetry.dependencies]
python = "^3.6"
colorama = "^0.4.3"
ffmpy = "^0.2.2"
video_utils = "^1.1.1"

[tool.poetry.dev-dependencies]
coverage = "^5.0"
mock = "^3.0.5"
flake8 = "^3.7"
pytest-cov = "^2.8"
pylint = "^2.4"
pytest = "^5.3"
autopep8 = "^1.4.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
