name: Workflow

on:
  pull_request: []
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.8]
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          pip install poetry
          poetry install
          poetry build
      - name: Run linting
        run: |
          ./lint.sh
      - name: Run tests
        run: |
          ./test.sh
      - name: Upload code coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          bash <(curl -s https://codecov.io/bash) -Z || echo 'Codecov failed to upload'

  tag-releases:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    outputs:
      commit: ${{ steps.tag_releases.outputs.commit }}
    steps:
      - uses: actions/checkout@v2
      - name: Tag Releases
        id: tag_releases
        run: |
          commits="$(cat "$GITHUB_EVENT_PATH" | jq -r '.commits[].id')"
          for commit in $commits; do
            version="$(git show $commit pyproject.toml | grep -Po "(?<=^\+version = \")[\d\.]+")" ||:
            if [[ $version ]]; then
              echo Version was changed in commit $commit to $version. Tagging.
              git tag $version
              echo ::set-output name=commit::$commit
            else
              echo No version update in commit $commit
            fi
          done
      - name: Push Tags
        run: |
          branch=${{ needs.test.outputs.branch }}
          if [[ $branch == master ]]; then
            echo "Pushing tags..."
            git push --tags || :
          else
            echo "Skipping pushing tags as this is not the master branch"
          fi

  publish:
    runs-on: ubuntu-latest
    needs: [test, tag-releases]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Build
        run: |
          branch=${{ needs.test.outputs.branch }}
          commit=${{ needs.tag-releases.outputs.commit }}
          if [[ $branch != master ]] || [[ ! $commit ]]; then
            echo "Not publishing changes outside master branch or when no version update has occurred"
            exit 0
          fi
          git checkout $commit
          pip install poetry
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry install
          poetry build
      - name: Publish
        run: |
          branch=${{ needs.test.outputs.branch }}
          commit=${{ needs.tag-releases.outputs.commit }}
          if [[ $branch != master ]] || [[ ! $commit ]]; then
            echo "Not publishing changes outside master branch or when no version update has occurred"
            exit 0
          fi
          poetry publish
